body {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url("/images/background2.jpg");

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

